.center-piece {
    text-align: center;
  }

  #click {
    background-color:transparent;
    color: rgb(7, 36, 21);
    padding: 5px;
    font-size: 22px;
    border:none;
    padding: 40px;
    letter-spacing: 2px;
    font-family: "Optima", sans-serif;
  }
  