.center-piece {
    text-align: center;
  }

  #artle-title {
    font-family: "Optima", sans-serif;
    letter-spacing: 2px;
    padding: 10px;
    font-size: 40px;
  }

  #click {
    background-color:transparent;
    color: rgb(7, 36, 21);
    border:none;
    padding: 40px;
    font-size: 22px;
    font-family: "Optima", sans-serif;
    letter-spacing: 2px;
  }
  
input[type=text]:focus {
  outline:none ;
}

input[type=text] {
  display: inline-block;
  border: none;
  border-bottom: 2px solid black;
  padding: 16px;
  background-color: transparent;
  font-family: "Optima", sans-serif;
  font-size: 20px;
  text-align: center;
}

::placeholder {
  color: rgb(113, 113, 113);
  font-family: "Optima", sans-serif;
  text-align: center
}

#guess-columns {
  column-count: 2;
  column-gap: 20px;
}