.center-piece {
    text-align: center;
  }

  #artle-title {
    font-family: "Optima", sans-serif;
    letter-spacing: 2px;
    padding: 10px;
    font-size: 40px;
  }

  #click {
    display:block;
    background-color:transparent;
    color: rgb(7, 36, 21);
    border:none;
    padding: 40px;
    font-size: 22px;
    font-family: "Optima", sans-serif;
    letter-spacing: 2px;
    margin: auto;
  }
  
input[type=text]:focus {
  outline:none ;
}

input[type=text] {
  display: inline-block;
  border: none;
  border-bottom: 2px solid black;
  width: 340px;
  padding: 8 px;
  background-color: transparent;
  font-family: "Optima", sans-serif;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2px;
}

::placeholder {
  color: rgb(113, 113, 113);
  font-family: "Optima", sans-serif;
  text-align: center;
  letter-spacing: 2px;

}

#guess-columns {
  width: 795px;
  column-count: 2;
  display: inline-block;
  margin: auto;

}

#prev-guess-columns {
  width: 798px;
  column-count: 2;
  display: inline-block;
  margin: auto;
  font-family: "Optima", sans-serif;
  font-size: 18px;
  text-align: left;
  letter-spacing: 2px;
}

.previous-guess-list-a {
  margin-left: 10px;
}

.previous-guess-list-b {
  padding-top: 18px;
  margin-left: 24px;
}

.prev-guess-item {
  line-height: 32px;
}
