.art-div {
    padding:100px;
    width:800px;
    height:auto;
    margin:auto;
    display: inline-block;
}

.try-one {
    display: grid;
    background-color: transparent;
    z-index: 5;
    position: absolute;
    width:800px;
    /*2 lines - breaks grid into 6x6 fractions*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.item-a {
    grid-column: 1;
    grid-row: 1;
    background-color: black;
    opacity: 100%;
    z-index: 10;
}


.art-piece {
    object-fit: contain;
    width: 800px;
    height: auto;
}

